@charset "UTF-08";

:root {
    --cor0: rgb(152, 154, 160);
    --cor1: rgb(126, 128, 129);
    --cor2: #0038A8;
    --cor3: #1C315C;
    --cor4: #011130fb;
   
}


* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: var(--cor4);
}
header {
    color: white;
    display: flex;
    background-color: black;
    height: 120px;
    /*width: 100%;*/
    font-weight: normal;
    align-items: center;
    justify-content: center;
}
header > h1 {
  font-size: 10vp;
  text-align: center;
}

main {
    background: var(--cor1);
    display: block;
    max-width: 80%;
    margin: 0 auto;
    min-height: 80%;
   
}
section {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

section p {
    margin: 10px auto;
    align-items: center;
   
    
}
section div {
    background-color: white;
    display: inline-flex;
    width: 200px;
    padding: 0px 50px 200px 50px;
    border-radius: 5px;
    margin: 10px auto;
    
    
}
