@charset "UTF-08";

:root {
    --cor0:#BFBFB8;
    --cor1:#A4A69C;
    --cor2:#4C594F;
    --cor3:#35403A;
    --cor4:#232625;
   
}


* {
    padding: 0px;
    margin: 0px;
}

body {
    /*background-color: var(--cor3);*/
    background-image: url(editado.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    
    
}
header#principal {
    color: #BFBFB8;
    display: flex;
    background-color: rgba(0, 0, 0, 0.278);
    padding: 30px;
    /*width: 100%;*/
    font-weight: normal;
    font-size: 1.5vw;
    align-items: center;
    justify-content: center
}
header#boxs{
    color: rgb(255, 123, 0);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 1000px;
    margin: 0 auto;
    
}
#boxs div {
    padding: 10px 30px;
    width: 300px;
    height: 57px;
    font-size: 20px;
    font-family: sans-serif;
    
}
#boxs div p {
    padding-top: 10px;
    font-size: 0.8em;
}
